
.site-header {
    height: 100px;
    padding: 0 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0px 8px 25px -15px rgba(66, 68, 90, 1);
    transition: height 0.3s ease-in-out;
}
.sticky {
    height: 70px;
    transition: height 0.3s ease-in-out;
}
.site-branding{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.site-branding img {
    width: 120px;
}
// .carousel-slide:hover {
//     height: 1200px;
//     width: 1200px;
// }
.carousel-slide {
    max-width: 100%;
}
.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;  
}
.carousel-description {
    position: absolute;
    left: -22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
}
.carousel-description h2 {
    font-size: 5vw;
}
.title {
    display: none;
}
.cta {
    background: black;
    color: white;
    left: -17vw;
    position: relative;
    font-size: 1vw;
    border: none;
    padding: 1vw 1.5vw;
    text-transform: uppercase;
    margin: 9px 0 0 0;
}
#mojeid1 {
    height: 200px;
    width: 200px;
    overflow: scroll;  
}
